/.FigurPlotter.java._trace
/.FigurPlotter.xtendbin
/.MetaModelGen.java._trace
/.MetaModelGen.xtendbin
/.PlotterPOJO.java._trace
/.PlotterPOJO.xtendbin
/.WebsiteGenerator.java._trace
/FigurPlotter.java
/MetaModelGen.java
/PlotterPOJO.java
